body {
    background: url("../img/bg.jpg") repeat scroll center top transparent;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.garland_top {
    height: 165px;
    background: url("../img/gar_01.png") repeat-x scroll center top transparent;
}

.list-remove {
    cursor: pointer;
}

.logout-link {
    cursor: pointer;
}

.chat-box {
    position: fixed;
    bottom: 0;
    right: 100px;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.chat-box-inner {
    height: 400px;
    background-color: white;
    width: 350px;
}

.btn-chat {
    border-radius: 0;
}

.btn-chat-expanded:hover:after {
    content: "Schowaj" !important;
}

.btn-chat:hover:after {
    content: "Chat";
}

.thumbnail img {
    max-width: 40px;
}

.users-tab {
    height: 30px;
    margin-right: 10px;
}

.thumbnail-success {
    background-color: #5CB85C !important;
}

.thumbnail-danger {
    background-color: #D9534F !important;
}

.users-tab .thumbnail .label {
    font-size: 50%;
    border-radius: 50%;

}

.users-tab .thumbnail .pull-right {
    top: -15px; position: relative;
    right: -5px
}

.chat-box .form-control {
    bottom: 0;
    position: absolute;
}

.nav > li > a {
    padding: 15px 15px;
}

.table-selectable td {
    cursor: pointer;
}

.buyer td {
    font-weight: bold;
}