<div class="fadeIn animated">
    <h3 class="alert alert-success text-center" style="margin-bottom: 20px">
        Do Wigilii zostało:
        <br/>
        <timer end-time="christmasDay">{{days}} dni, {{hours}} godzin, {{minutes}} minut, {{seconds}} sekund.</timer>
    </h3>
    <h3 class="alert alert-danger text-center" style="margin-bottom: 20px">
        Nie przeprowadzono losowania
    </h3>
    <div>
        <div class="col-sm-6">
            <legend>Osoby w puli:</legend>
            <ul>
                <li ng-repeat="p in people">{{p.name}}</li>
            </ul>

            <legend>Osoby losujące:</legend>
            <ul>
                <li ng-repeat="p in people | filter: {'buyer' : true}">{{p.name}}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <legend>Kupuję prezenty:</legend>
        </div>
    </div>
</div>